<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의하기</title>
</head>
<body>

  <form method="post" action="/inquiry" enctype="multipart/form-data">
    <label for="sort">분류</label>
    <select id="sort" name="sort" required="required">
      <option value="불만 접수">불만 접수</option>
      <option value="제안">제안</option>
      <option value="환불/교환">환불/교환</option>
      <option value="칭찬해요">칭찬해요</option>
      <option value="기타 문의">기타 문의</option>
    </select><br/>

    <label for="title">제목</label>
    <input type="text" id="title" name="title" required="required"/><br/>

    <label for="content">내용</label>
    <input type="text" id="content" name="content"/><br/>

    <label for="files">첨부파일 (이미지 파일만 가능)</label>
    <input type="file" id="files" name="files" accept="image/*" multiple="multiple" />

    <br/>
    <button type="submit">확인</button>
    <button type="button" onclick="location.href='/'">취소</button>
  </form>

</body>
</html>